
body {
    font-family: 'Pacifico', cursive;
    background: #f7f7f9;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    color: #5f3a2b;
}

.container {
    width: 1250px;
    margin: 0 auto 70px;
}

.grid-container {
    columns: 4 200px;
    column-gap: 1.5rem;
    width: 100%;
    margin: 0 auto;
}

.content {
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(179, 119, 73, 0.5);
    border-radius: 30px;
}

.content img {
    width: 100%;
    border-radius: 30px;
}

.content3 {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.content16 {
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 7;
}

.full {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1100;
    background-color: rgba(95, 58, 43, 0.8) !important;
    margin: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
}

.full .aki {
    margin: auto;
    border-radius: 0;
    display: flex;
}

.full .aki img {
    width: auto;
    height: 90vh;
    margin: auto;
}

.btn {
    display: none;
}

.full .btn {
    display: flex;
}

